@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &__slider
      width: 590px
  .hotel
    &-slider
      &__image
        height: 100%
        width: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      &-group
        flex-basis: 100%
    &__message
      flex-basis: 100%
  .package
    &-wrapper
      grid-template-columns: 1fr 1fr
    &__image--big
      width: 550px
      object-fit: cover
    &__text
      margin-bottom: 69px
    &__column-1
      width: 418px
    &__image
      width: 465px
      object-fit: cover
    &__column
      width: 465px
    &__offer
      font-size: 10px
      padding: 8px 15px
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &-input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-slider
      width: 100%
    &-right
      flex-direction: row
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 250px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      flex-basis: 100%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
    &__input
      flex-basis: 48%
    &__payment
      grid-column: 1 / span 6
      margin-top: 56px
    &__policy
      transform: translateX(0%)
  .modal
    &__bottom
      flex-direction: column-reverse
      align-items: start
    &__info
      margin-bottom: 15px
  .package
    &-wrapper
      grid-gap: 20px
    &__block
      height: 210px
    &__image
      width: 340px
      height: 210px
      &--big
        width: 366px
    &__column
      width: 340px
      &-1
        padding: 40px 21px 25px 40px
        width: 334px
    &__text
      margin-bottom: 20px
    &--name
      &--big
        margin-bottom: 30px
@media (max-width: 768px)
  .container,
    max-width: 576px
    width: 92%
  body
    padding-top: 70px
  .navbar
    &--mobile
      &--fixed
        position: fixed
        overflow: hidden
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
        overflow: scroll
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        max-width: 580px
        padding: 0 30px 30px
        &:after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px
  .footer
    &__input
      flex-basis: 100%
    &__message
      flex-basis: 100%
  .modal
    &__dialog
      padding: 15px 20px
      width: 300px
  .package
    &-wrapper
      grid-template-columns: 1fr
    &__pack-1
      flex-direction: column
      grid-column: 1
      grid-row: 1
    &__pack--hotel-1
      grid-column: 1
      grid-row: 2
    &__pack--hotel-2
      grid-column: 1
      grid-row: 3
    &__pack--hotel-3
      grid-column: 1
      grid-row: 4
    &__pack--hotel-4
      grid-column: 1
      grid-row: 5
    &__block
      height: 250px
      width: 100%
    &__image
      height: 250px
      width: 100%
      &--big
        width: 100%
        height: 250px
    &__column
      width: 100%
      padding: 30px 21px 23px 40px
    &__column-1
      padding: 30px 21px 23px 40px
      width: 100%
      height: 250px
    &__text
      display: none
    &__name
      margin-bottom: 24px
    &__room
      &--big
        margin-bottom: 24px
  .stars
    display: none
@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .search
    &__input
      width: 240px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    padding: 40px 0 50px 0
  .activities
    padding: 40px 0 60px 0
  .card
    width: 100%
  .footer
    padding-top: 69px
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__title
      &--inline
        width: 299px
        margin-bottom: 20px
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        flex-wrap: wrap
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__button
      grid-row: 8
      grid-column: 1
    &__bottom
      display: flex
      flex-direction: column-reverse
      align-items: start
    &__info
      margin-bottom: 15px
    &__payment
      margin-top: 30px
      grid-row: 8
      grid-column: 1
      flex-wrap: wrap
    &__policy
      margin-bottom: 10px
    &__privacy
      margin-right: 5px
  .modal
    &__dialog
      padding: 15px 20px
      width: 300px
    &__bottom
      flex-direction: column-reverse
      align-items: start
    &__info
      margin-bottom: 10px
    &__input
      height: 40px
      padding: 0 8px
    &__message
      min-height: 90px
      padding: 5px 8px
@media (min-width: 320px) and (max-width: 480px)
  .hotel
    padding-bottom: 40px
    &__slider
      height: 170px
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 40px
  .footer
    &__contact
      &-details
        width: 285px
      &-form
        width: 285px
  .modal
    &__dialog
      width: 250px
@media (max-width: 576px) and (orientation: landscape)
  .modal
    &__dialog
      height: 300px
      overflow-y: scroll
